#[link(name = "encoding",
       vers = "0.1",
       uuid = "5C488DDE-765F-4195-8694-3AE839B51793",
       url  = "https://github.com/tychosci/rust-encoding")];

#[comment = "\"encoding\" modules for Rust"];
#[license = "MIT license"];
#[crate_type = "lib"];

#[doc = "\"encoding\" modules for Rust"];

extern mod std;

#[path = "encoding/misc"]
pub mod misc {
    pub mod base16;
    pub mod base32;
    pub mod base64;
}
