#[link(name = "encoding",
       vers = "0.1",
       uuid = "5C488DDE-765F-4195-8694-3AE839B51793",
       url  = "https://github.com/tychosci/rust-encoding")];

#[comment = "\"encoding\" modules for Rust"];
#[license = "MIT license"];
#[crate_type = "lib"];

mod base16;
mod base32;
mod base64;
